
<%- include('partials/header'); -%>
<main class="home-main">
    <section class="create-blog">
    <a href="/compose">Create your Blog !</a>
    </section>

 
    <section class="home-content">
     <%   blogPost.forEach((element)=>{      %>
        <!-- console.log(element.title ) -->

        <h2> <%=element.title.substring(0, 100)  %> </h2> <!-- substring(0, 100) use to trunc long string where 0 is starting character nd 100 is 100th character ,at where we want a string to display-->
        <div class="div-home">
      
     
    <% if (element.imagePath) { %>
                <img class="home-img" src="/uploads/<%= element.imagePath %>" alt="Image">
          
           
<% } else if (element.imageLink) {  %>
               
                <img class="home-img" src="<%= element.imageLink %>" alt="Image">
            <% }  %>

                 <p style= "<%= (element.imagePath || element.imageLink) 
                 ? 'padding: 20px 0;' : 'padding: 10px 0;' %> "> <%=element.content.substring(0, 100) + "...." %> <a  href= "/blogpost/<%=element._id%>" >Read More</a></p>

</div>
        <% }); %>

    </section>

    </main>

<%- include('partials/footer'); -%>



