
<%- include('partials/header'); -%>
<main class="home-main">
    <section class="create-blog">
    <a href="/compose">Create your Blog !</a>
    </section>

 
    <section class="home-content">
     <%   blogPost.forEach((element)=>{      %>
        <!-- console.log(element.title ) -->

        <h2> <%=element.title.substring(0, 100)  %> </h2> <!-- substring(0, 100) use to trunc long string where 0 is starting character nd 100 is 100th character ,at where we want a string to display-->
        <p> <%=element.content.substring(0, 100) + "...." %> <a  href= "/blogpost/<%=element._id%>" >Read More</a></p>
     
    <%  }     )  %>

    </section>

    </main>

<%- include('partials/footer'); -%>



